body {
  color: #fff;
  background-color: #ffffff;
  font-family: cursive;
}

#header-nav {
  background-color: crimson;
  border-radius: 0;
  border: 0; 
}

.navbar-brand {
  padding-top: 25px; 
}

.navbar-brand h1 { 
  font-family: cursive;
  font-weight: bold;
  color: #ffffff;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .3;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #ffffff;
  text-align: center;
}
#nav-list a:hover {
  background: #89a4fd;
}

#main-content{
  color: black;
}

#head-title{
  color: rgb(0, 0, 0);
  text-align: center;
  padding-bottom: 4%;
}

section{
  width: 99%;
  background-color: cadetblue;
  border: 1px solid black;
  margin: 1%; 
  font-size: large;
  padding: 2%;
}

p{
  font-size: x-large;
  font-weight: bold;
  width: 98%;
  color: aliceblue;
  text-align: center;
}  

@media (max-width: 767px) {

#header-nav {
  background-color: crimson;
  border-radius: 0;
  border: 0; 
}

#head-title{
  color: rgb(0, 0, 0);
  text-align: center;
  padding-bottom: 4%;
  margin-left: 25vw;
}

section{
  width: 100%;
  background-color: cadetblue;
  border: 1px solid black;
  font-size: large;
  padding: 2%;
  margin-left: 13vw;
  margin-bottom: 5vw;
}

p{
  font-size: x-large;
  font-weight: bold;
  width: 98%;
  color: aliceblue;
  text-align: center;
}    

}